@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$gradient: linear-gradient( 105.3deg,  rgba(30,39,107,1) 21.8%, rgba(77,118,221,1) 100.2% );
$post: #0099DD;

.App {
  text-align: center;
}

body {
  background-color: #1E276B;
}

nav {
  display: flex;
  max-width: 960px;
  justify-content: space-around;
  margin: auto;

  h2 {
    color: white;
    cursor: pointer;
  }

  h2:hover {
    opacity: 0.85;
  }

}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  cursor: pointer;
}

#title {
  color: white;
  padding: 0px 5px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

#loading {
  width: 50px;
  height: 50px;
  margin: 0px;
}

////////HOME - WELCOME PAGE///////
#homepage {
  h1 {
    background-image: $gradient;
    margin: 0;
    padding: 25px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 38px;
  }

  h2 {
    color: white;
  }
}

#home {
  padding: 125px;

  div {
    background-color: rgba(255, 255, 255, 0.719);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 810px;
    margin: auto;
    padding: 40px 0px;
  }

  p {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    max-width: 429px;
    margin: auto;
    padding: 45px;
  }

  section {
    width: fit-content;
    margin: auto;
  }

  section h2 {
    border-radius: 6px;
    padding: 10px 17px;
    font-family: 'Roboto', sans-serif;
  }
}

#home-p, #home-h2 {
  padding: 0px 10px;
}

#signup {
  background-color: orangered;
  color: white;
}

#login {
  background-color: orange;
  color: white;
}

#signup:hover {
  opacity: 0.9;
}

#login:hover {
  opacity: 0.9;
}

#banner {
  background-image: url("./components/banner.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

article {
  max-width: 800px;
  margin: auto;
  height: 100%;
  p {
    line-height: 2em;
    color: white;
    font-size: 18px;
  }
}
////////////////////////////// 

//////////Login-Signup////////
#form-div {
  margin-top: 85px;
}

form {
  max-width: fit-content;
  margin: auto;

  input {
    display: block;
    width: 250px;
    font-size: 17px;
    margin-top: 20px;
    padding: 14px 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    outline: none;
  }

  input:last-of-type {
    margin: auto;
    margin-top: 20px;
    width: 282px;
    border-radius: 6px;
    cursor: pointer;
  }
}

#error-text {
  color: red;
  font-weight: 500;
  margin: 10px auto;
  word-wrap: break-word;
  max-width: fit-content;
  padding: 10px;
}

/////////CREATE POST ////////
#create-form {
  text-align: left;
  max-width: 500px;
  margin: auto;
  background-color: lightgrey;
  padding: 20px;

  input {
    width: 80%;
    margin: 0px;
    text-align: left;
    padding: 6px;
    border: 1px solid gray;
    outline: none;
    cursor: text;
    color: black;
  }

  p {
    margin: 0;
    font-size: 15px;
  }

}

textarea {
  resize: none;
  width: 99%;
  height: 186px;
  outline: none;
  border: 1px solid gray;
}

#post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2px;
  
  input {
    width: 50px;
    cursor: pointer;
    background-color: $post;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
  }
}

#create-p {
  color: white;
}

//Thread Card//

#thread-card {
  text-align: left;
  border: 1px solid blue;
  margin: 10px auto;
  max-width: 820px;
  padding: 0px 10px;
  background-color: whitesmoke;
  transition: 250ms;

  h2 {
    font-weight: 300;
    margin-bottom: 0px;
  }
}

#thread-card:hover {
  cursor: pointer;
  opacity: 0.85;
}

#single-thread {
  text-align: left;
  border: 2px solid blue;
  margin: 10px auto;
  max-width: 820px;
  padding: 0px 10px;
  background-color: whitesmoke;
  border-radius: 3px;

  h2 {
    margin-bottom: 0px;
  }

  h3 {
    font-style: italic;
  } 

  p {
    margin-top: 0px;
    line-height: 24px;
  }
}

#thread-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-weight: 500;
  }
}

#create-btn {
  width: 146px;
  margin: 34px auto;
  padding: 8px 10px;
  background-color: crimson;
  border-radius: 20px;
}

#create-btn:hover {
  opacity: 0.9;
}

#delete-div {
  text-align: right;

  button:first-of-type {
    margin-right: 14px;
  }

  button {
    background: none;
    border: none;
    padding: 0px;
    font-size: 18px;
    margin-bottom: 3px;
    transition: 250ms;
  }

  button:first-of-type:hover {
    color: blue;
  }

  button:last-of-type:hover {
    color: red;
  }

}

// ADD COMMENT //

#add-comment {
  max-width: 820px;
  margin: auto;
  text-align: right;
  
  textarea {
    width: 68%;
    height: 105px;
  }
  
}

#comment-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    color: white;
    margin: 0px 18px 0px 0px;
  }

}

#comment-btns {

  button {
    padding: 5px 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    border: none;
    outline: none;
    background-color: $post;
    color: white;
  }

  button:first-of-type {
    margin-right: 5px;
    background-color: whitesmoke;
    color: black;
  }

}

#reply-btn {
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: $post;
  color: white;
  margin-bottom: 13px;
}

// COMMENT BOX //
#comment-box {
  background-color: whitesmoke;
  max-width: 800px;
  margin: 10px auto;
  border: 1px solid blue;
  text-align: left;
  padding: 0px 10px;
  
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    p {
      margin: 0px;
    }
  }

}

#comment-body {
  margin: 0px 0px 10px 0px;
  line-height: 24px;
}

////Topic Page////
#topic-title {
  color: white;
}

#topic-desc {
  color: white;
  padding: 0px 5px;
}

///Topic Cards///
#topics {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 6px;
  border: 1px solid black
}

#topic-card {
  width: 181px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px 0px;
  margin-bottom: 10px;
}

#topic-link {
  color: black;
  text-decoration: underline;
  transition: 150ms;
}

#topic-link:hover {
  color: #0099DD;
}

#show-more {
  margin: 15px 0px 27px 0px;
  padding: 5px 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: crimson;
  color: white;
}

// My Profile Page //
#profile-flex {
  display: flex;
  max-width: 750px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 10px;  
}

#logout:hover {
  opacity: 0.85;
}

// Dashboard //
#dash-title {
  color: whitesmoke;
  font-weight: 500;
  letter-spacing: 1px;
}

#articles {
  margin-top: 27px;
  
  h2 {
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 1px;
  }

}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-right: 13px;
}

#article-flex {
  text-align: left;
  display: flex;
  max-width: 717px;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: 150ms;
}

#article-flex:hover {
  opacity: 0.95;
  background-color: rgb(219, 219, 219);
}

#article-info {
  p {
    font-style: italic;
  }
}

#article-card {
  border: 1px solid black;
  border-radius: 6px;
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
  background-color: whitesmoke;
  padding: 16px 0px;
}

@media screen and (max-width: 900px) {
  #topics {
    border-radius: 0px;
  }
  #article-card {
    border-radius: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 820px) {
  #thread-card {
    border-left: none;
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  #topics {
    background: none;
    border: none;
  }

  #topic-link {
    color: white;
  }

}

@media screen and (max-width: 613px) {
  #home{
    padding: 0px;
  }
}